

 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Airports picked by you</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="page-background">
  
  <div class="welcome-header">
    <div class="content">
      <div class="title">Flying to new heights.</div>
      <div class="subtitle">Fly in peace with us ...</div>
    </div>

    <ion-fab-button class="refresh" color="dark">
      <ion-icon name="md-refresh"></ion-icon>
    </ion-fab-button>

  </div>
  <div class="body ion-padding">
    <div class="ion-text-center" *ngIf="!isLoading && results.length <= 0">
      <p>No locations picked by you yet!!</p>
      <ion-button color="primary" routerLink="/places/tabs/search"
        >Pick Locations</ion-button
      >
    </div>
      
    <div class="currencies" *ngIf="!isLoading && results.length > 0">
      <ion-row class="currency" *ngFor="let offer of results">
 
       
        <ion-col class="image" *ngIf="offer.placeType === 'airport'">
          <img [src]="offer.imageIcon" alt="">
        </ion-col>
        <ion-col size="3" class="text" *ngIf="offer.placeType === 'airport'">
         
       
          <p class="rank"> {{offer.rating || "No ratings"}}</p>
 
        </ion-col>
        <ion-col size="5" class="text" *ngIf="offer.placeType === 'airport'">
          <p class="usd">{{offer.name }} </p>
          <p class="evolution" ></p>
        </ion-col>
        <ion-col size="1" *ngIf="offer.placeType === 'airport'">

            <ion-icon name="trash" (click)="onCancel(offer.id)"></ion-icon>

        </ion-col>

      </ion-row>
    </div>

  </div>
</ion-content>