<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon name="bulb" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Explore says..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label class="ion-text-wrap"> 
    
  <h1>Explore</h1>
  <h3>Let us help you find a new place..</h3>
  <p>Discover places for:</p>
  <ul>
    <li> For Family
    </li>
    <li> For Weekend
    </li>
    <li> My Trip
    </li>
    <li> Dreamy Adventures
    </li>
  </ul>
  <p><img src="http://unsplash.it/600/300" alt="" /></p>
  <p>Travelling is obviously an expensive and time taking task.
     But if you do it with positivity and humility, travelling gives you endless benefits. Travelling soothes mind and give you chance to know yourself closely. Travelling reenergise the lost soul. In daily hectic life everyone is busy with their responsibilities,
     travelling somehow relaxes your mind..</p>



  </ion-label>

</ion-content>
<ion-footer>
  <ion-button expand="full" color="primary" (click)="dismiss()">Okay
  </ion-button>
</ion-footer>