<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center" padding>
        <p>{{ place.title }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center" padding>
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
 <ion-row>
      <ion-col size-sm="6" offset-sm="3" padding class="ion-text-center">
        <p>{{ place.location.address }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="place.location.staticMapImageUrl"></ion-img>
      </ion-col>
    </ion-row> 
    <ion-row >
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-button color="primary" margin (click)="onBookPlace()"
          >Book</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <mat-card *ngIf="!isLoading" class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{place.title}}</mat-card-title>
      <mat-card-subtitle>{{place.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      {{place.description}}
      </p>
      <ion-card>
      <ion-label color="secondary" class="font">Time to visit: {{ place.availableFrom | date}} to {{place.availableTo | date}}</ion-label>
    </ion-card>
    </mat-card-content>

      <ion-button color="primary" margin (click)="onClickFavourite()"
      >Add to Favourites</ion-button
    >
  </mat-card>
</ion-content>
